.view {
  background: #fff;
  position: relative;

  * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .selected-chip-list {
    width: 100%;
  }

  .suggested-chip-list {
    width: 100%;
  }

  mat-chip {
    cursor: pointer;
  }

  .selected-chips-fields {
    position: absolute;
    width: 80%;
    height: 40%;
    top: 10%;
    left: 0;
    padding: 10%;
  }

  .suggested-chips-fields {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 35%;
    left: 0;
    padding: 10%;
  }

  .nav-buttons {
    position: absolute;
    width: 80%;
    height: 20%;
    top: 60%;
    left: 0;
    padding: 10%;
  }

  .skip-button {
    a {
      color: gray;
      text-decoration: none;
    }
  }
}